*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
    background:rgba(0,0,0,0.4);
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
}

nav ul li a:hover{
    color:rgb(255, 251, 0);
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero span{
    color:rgb(195, 0, 255);
}

.card{
    background:rgba(255,255,255,0.1);
    margin:40px auto;
    padding:30px;
    width:80%;
    border-radius:15px;
    backdrop-filter:blur(10px);
}

.section{
    display:none;
    animation:fade 0.5s ease-in-out;
}

.section.active{
    display:block;
}
@keyframes fade{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

.skill{
    margin:15px 0;
}

.bar{
    background:white;
    height:8px;
    border-radius:5px;
}

.progress{
    height:8px;
    border-radius:5px;
}

.html{width:90%; background:orange;}
.css{width:85%; background:cyan;}
.js{width:75%; background:yellow;}

.project{
    background:rgba(0,0,0,0.3);
    padding:15px;
    margin:15px 0;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    background:rgba(0,0,0,0.4);
}
form{
    display:flex;
    flex-direction:column;
}

form input, form textarea{
    margin:10px 0;
    padding:12px;
    border-radius:8px;
    border:none;
    outline:none;
    font-size:15px;
}

form button{
    padding:12px;
    background:rgba(0, 198, 224, 0.548);
    border:none;
    font-weight:bold;
    cursor:pointer;
    border-radius:8px;
    transition:0.3s;
}

form button:hover{
    background:rgb(255, 230, 0);
}
.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:1000;
}
.popup-content{
    background:white;
    color:black;
    padding:30px;
    width:350px;
    text-align:center;
    border-radius:15px;
    animation:popupAnim 0.4s ease;
}
@keyframes popupAnim{
    from{transform:scale(0.5); opacity:0;}
    to{transform:scale(1); opacity:1;}
}

.checkmark{
    font-size:50px;
    color:green;
    margin-bottom:10px;
}

.popup-content button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#4CAF50;
    color:white;
    font-weight:bold;
    cursor:pointer;
    border-radius:8px;
    transition:0.3s;
}

.popup-content button:hover{
    background:#45a049;
}
