body{
background:#020617;
color:white;
font-family:Arial;
margin:0;
padding:20px;
}

h1{
text-align:center;
color:#38bdf8;
}

.top{
display:flex;
gap:10px;
justify-content:center;
flex-wrap:wrap;
margin-bottom:20px;
}

input,select{
padding:10px;
border-radius:8px;
border:none;
}

.products{
display:grid;
grid-template-columns:repeat(3, minmax(0,1fr));
gap:20px;
max-width:1200px;
margin:auto;
}

.card{
background:#0f172a;
padding:15px;
border-radius:12px;
text-align:center;
transition:0.3s;
width:100%;
box-sizing:border-box;
}

.card:hover{
transform:scale(1.05);
}

img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
display:block;
}

button{
margin-top:5px;
padding:7px;
background:#38bdf8;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

.notification{
position:fixed;
top:20px;
right:20px;
background:#38bdf8;
padding:12px;
border-radius:8px;
display:none;
}

.panel{
position:fixed;
right:-350px;
top:0;
width:350px;
height:100%;
background:#020617;
padding:20px;
overflow:auto;
transition:0.4s;
}

.show{
right:0;
}

@media(max-width:900px){
.products{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:500px){
.products{
grid-template-columns:1fr;
}
}
