body{
background:#020617;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.container{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:15px;
width:400px;
backdrop-filter:blur(10px);
}

input{
width:70%;
padding:10px;
border:none;
border-radius:8px;
}

button{
padding:10px;
background:#38bdf8;
border:none;
color:white;
border-radius:8px;
cursor:pointer;
}

li{
background:#0f172a;
margin-top:10px;
padding:10px;
border-radius:8px;
display:flex;
justify-content:space-between;
}

.done{
text-decoration:line-through;
opacity:0.5;
}
